.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    max-width: 1400px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.05);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;

    z-index: 9999;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #a855f7;
}

.start-btn {
    background: #6d5dfc;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 12px 20px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease, transform 0.2s ease;
}

.start-btn:hover {
    background: #5b4aee;
    transform: translateY(-2px);
}
